* {
    margin: 0;
    padding: 0;
}

.app {
	width: 100vmin;
	margin: auto;
	text-align: center;
}

p {
	margin: auto;
	width: 90vmin;
	text-align: justify;
	font-size: 1.5rem;
}

form{
	width: 90vmin;
    margin: 5vmin auto 2.5vmin;
	font-size: 1.5rem;
	
    display: grid;
    grid-template-columns: [labels] auto [controls] 1fr;
    gap: 10px;
}

label {
	grid-column: labels;
	grid-row: auto;

    height: 1.4em;
}

input, select {
	grid-column: controls;
	grid-row: auto;

	font-size: 1.1rem;
}

button{
	grid-column: span 2;

    height: 10vmin;
    font-size: 5vmin;
    border-radius: 10px;
}

strong {
	font-size: 1.3em;
}

.desc {
	width: 90vmin;
	margin: auto;
}

#result {
	width: 90vmin;
    margin: 2.5vmin auto 2.5vmin;
	font-weight: bold;
	font-size: 1.3em;
}

#output {
	width: 90vmin;
    margin: 2.5vmin auto 2.5vmin;
}

.doors {
	display: flex;
	justify-content: center;
	
    width: 90vmin;
    margin: auto;
}

.door {
	display: inline-block;
	width: 45px;
	height: 90px;
	border: 1px solid black;
	margin: 3px;
	
	text-align: center;
	line-height: 90px;
	font-size: 2em;
}

.prize {
	background-color: gold;
}